
button {
  font-size: 50px;
}

.container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.results {
  background-color: black;
  display: block;
  width: 400px;
  height: 50px;
  color: white;
  font: 'Monospace';
  height: 100px;
}

.btn {
  flex-basis: 100px;
  height: 100px;
}

.zero {
  flex-basis: 75%
}

.clear {
  flex-basis: 200px;
}


.math {
  background-color: orange;
}

.btn:hover {
  background-color: ebebeb;
}

.btn:active {
  background-color: bbbcbe;
}
