body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00FF6c)
}


button {
  font-size: 50px;
}

.container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}
#display {
  text-align: right;
  width: 400px;
  line-height: 70px;
  padding: 16px 8px;
  color: white;
  font: 'Monospace';
  font-size: 50px;
  height: 100px;
}

.btn {
  flex-basis: 100px;
  height: 100px;
}

.zero {
  flex-basis: 75%
}

.clear {
  flex-basis: 200px;
}


.math {
  background-color: orange;
}

.btn:hover {
  background-color: ebebeb;
}

.btn:active {
  background-color: bbbcbe;
}
