
button {
  font-size: 50px;
}

.container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.results {
  background-color: black;
  display: block;
  width: 400px;
  height: 50px;
  color: white;
  font: monospace;
}


.clear {
  flex-basis: 200px;
}

.arrow {
  width: 100px;
}

.btn {
  width: 100px; 
}

.zero {
  width: 300px;
}

.clear,
.btn,
.arrow,
.zero {
  background-color: #d8d9db;
}

.math {
  background-color: orange;
}

.btn:hover {
  background-color: ebebeb;
}

.btn:active {
  background-color: bbbcbe;
}
